<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div id="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if controller_name == "projects" %>">
            <%= link_to 'Projects', :projects %>
          </li>
          
          <li>
            <% if current_user %>
                <%= link_to "Logout", logout_path, method: :delete%>
            <% else %>
              <%= link_to 'Login', login_path %> 
            <% end %>
          </li>
          
          <% unless current_user %>
          <li style=""><%= link_to 'Sign Up', :new_user %></li>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  </div>

