<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div id="container">
      <a class="brand" href="#">CrowdFunder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">

            <li class="<%= 'active' if @nav == :home %>">
              <%= link_to 'Home', :root %>
            </li>
            <li class="<%= 'active' if @nav == :projects %>">
              <%= link_to 'Projects', :projects %>
            </li>
            <% if logged_in? %>
              <li class="divider-vertical"></li>
              <li class="<%= 'active' if @nav == :my_projects %>">
                <%= link_to 'My Projects', [:my, :projects] %>
                <li>
                  <%= link_to "New Project", new_my_project_path %>
                </li>
              <li>
              


            <% end %>

          
          <li>
            <% if current_user %>
                <%= link_to "Logout", logout_path, method: :delete%>
            <% else %>
              <%= link_to 'Login', login_path %> 
            <% end %>
          </li>
          
          <% unless current_user %>
          <li style=""><%= link_to 'Sign Up', :new_user %></li>
          <% end %>


        </ul>
      </div>
      </div>
    </div>
  </div>

